header {
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(5px);
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em 0 3em;
}

li, a, button {
    text-decoration: none;
}

.logo-container img{
    width: 50px;
    cursor: pointer;
}

.nav__links {
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 1em;
    text-transform: uppercase;
    font-weight: 500;
}

button {
    background-color: #ED1B23;
    border-radius: 5px;
    border: none;
    color: #fff;
    padding: 1em;
    cursor: pointer;
    font-family: "Kreon";
    font-weight: 500;
}

button:hover {
    background-color: #1C1D1F;
}
/* #EC008B */ 

button:active {
    background-color: #EC008B;
}

